
<nav class="navbar navbar-dark bg-dark  ">
    <a class="navbar-brand mr-5 pr-5" href="#" ><img src="../../../assets/img/aladinLetrasLogo.png" style="width: 180px;"></a>
    <h1 style="font-size:x-large; color:aliceblue;">Administracion</h1><a class="nav-link" href="#"><fa-icon [icon]="faAngleDown"></fa-icon></a>
    <h1 style="font-size:x-large; color:aliceblue;">Clientes</h1><a class="nav-link" href="#"><fa-icon [icon]="faAngleDown"></fa-icon></a>
    <h1 style="font-size:x-large; color:aliceblue;">Repartidores</h1><a class="nav-link" href="#"><fa-icon [icon]="faAngleDown"></fa-icon></a>
  </nav>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="../../../assets/img/aladin.jpg" >
    </div>
    <div class="col-6 publicidad1">
      <div class="tipoLetra mt-3">
        <h1>Tu Comodidad</h1><br>
        <h1>Es Nuestra</h1><br>
        <h1>Necesidad</h1>
      </div>
      <div class="botonRegistrarse mt-5">
        <button class="btn btn-primary">Registrate</button>
      </div>
    </div>
  </div>
</div>