<nav class="navbar navbar-dark bg-dark ">
        <div style="flex-direction: column;">
            <a class="navbar-brand mr-5 ml-2 pr-5" href="#" ><img src="../../../assets/img/telefono.png" style="width: 50px;"></a>
            <h1 style="font-size:small; color:aliceblue;">1-pide tu pedido</h1>
        </div>
        <div style="flex-direction: column;">
            <a class="navbar-brand mr-5 ml-2 pr-5" href="#" ><img src="../../../assets/img/CarroCompras.png" style="width: 50px;"></a>
            <h1 style="font-size:small; color:aliceblue;">2-te llevamos tu</h1>
            <h1 style="font-size:small; color:aliceblue;">pedido</h1>
        </div>
        <div style="flex-direction: column;">
            <a class="navbar-brand mr-5 ml-2 pr-5" href="#" ><img src="../../../assets/img/hombre-sofa.jpg" style="width: 50px;"></a>
            <h1 style="font-size:small; color:aliceblue;">3-cancelas tu pedido</h1>
            <h1 style="font-size:small; color:aliceblue;">y a distrutar</h1>
        </div>
        <div>
            <h1 style="font-size:xx-large; color:aliceblue;">Descarga</h1>
            <h1 style="font-size:xx-large; color:aliceblue;">nuestra app</h1>
        </div>
        <div>
            <img src="../../../assets/img/mano-Senalando.png" style="width: 50px;">
        </div>
        <div>
            <button ><img src="../../../assets/img/aladin.jpg" style="width: 50px;"></button>
        </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-6 publicidad1">
            <div class="tipoLetra mt-3">
                <fa-icon [icon]="faAngleDown" style="font-size:x-large; color: #1201FE;"></fa-icon>
            <h1>ya contamos con mas de 20,000 usuarios</h1><br>
            <h1>te invitamos a que veas sus opiniones</h1><br>
            <h1>acerca de nuestros servicios</h1>
            </div>
            <div class="imgs pl-5 ml-5 mt-5">
                <img src="../../../assets/img/todoEnUnClick.jpg" style="width: 300px; border-radius: 30px;">
            </div>
        </div>
        <div class="col-6 tipoLetra mt-3" >
            <div>
                <fa-icon [icon]="faBiking" style="font-size: 3.5rem; color: #000000;"></fa-icon>
                <fa-icon [icon]="faAngleDown" style="font-size:x-large; color: #1201FE;" class="ml-2"></fa-icon>
            </div>
            <div >
                <h1>si necesitas trabajo</h1><br>
                <h1>y aun no eres parte de nuestro</h1><br>
                <h1>equipo de repartidores, uneta a nosotros.</h1>
            </div>
            <div>
                <fa-icon [icon]="faIdCard" style="font-size: 3.5rem; color: #000000;"></fa-icon>
                <fa-icon [icon]="faAngleDown" style="font-size:x-large; color: #1201FE;" class="ml-2"></fa-icon>
            </div>
            <div style="font-size: 0.5rem;">
                <h1>si eres emprendedor y necesitas que tu producto</h1>
                <h1>llegue a tus clientes, nosotros somos la solucion</h1>
                <h1>te ofrecemos un plan que no podras rechazar</h1>
            </div>
            
        </div>
        
    </div>
</div>
