<main role="main" class="container">

    <div class="container">
        <div class="row">
            <div class="col-12" id="titulo">
                
            </div>
            <div class="col-12">
                <br>
                <h3 style="color:#5922da!important;"> Que necesitas?</h3>
            </div>
        </div>
        <div class="row" id="categorias">
            <!--generacion de categorias-->
            <div class="col-md-3 col-6 p-2">
                <div class="card " style="width: auto; border-radius: 40px; background-color: red;" >
                    <div class="card-body">
                      <i class=" my-4 mx-2" style="font-size: 5rem; background:white; color:#5f408f!important;"></i>
                      <h3 class="tituloTarjetas">Restaurantes</h3>
                      <div style="font-weight: 200; font-size: 0.8rem; color:white;" >12 Comercios</div>
                    </div>
                </div>
            </div>  
            <div class="col-md-3 col-6 p-2">
                <div class="card " style="width: auto; border-radius: 40px; background-color: red;" >
                    <div class="card-body">
                      <i class=" my-4 mx-2" style="font-size: 5rem; background:white; color:#5f408f!important;"></i>
                      <h3 class="tituloTarjetas">Restaurantes</h3>
                      <div style="font-weight: 200; font-size: 0.8rem; color:white;" >12 Comercios</div>
                    </div>
                </div>
            </div> 
            <div class="col-md-3 col-6 p-2">
                <div class="card " style="width: auto; border-radius: 40px; background-color: red;" >
                    <div class="card-body">
                      <i class=" my-4 mx-2" style="font-size: 5rem; background:white; color:#5f408f!important;"></i>
                      <h3 class="tituloTarjetas">Restaurantes</h3>
                      <div style="font-weight: 200; font-size: 0.8rem; color:white;" >12 Comercios</div>
                    </div>
                </div>
            </div> 
            <div class="col-md-3 col-6 p-2">
                <div class="card " style="width: auto; border-radius: 40px; background-color: red;" >
                    <div class="card-body">
                      <i class=" my-4 mx-2" style="font-size: 5rem; background:white; color:#5f408f!important;"></i>
                      <h3 class="tituloTarjetas">Restaurantes</h3>
                      <div style="font-weight: 200; font-size: 0.8rem; color:white;" >12 Comercios</div>
                    </div>
                </div>
            </div> 
            <div class="col-md-3 col-6 p-2">
                <div class="card " style="width: auto; border-radius: 40px; background-color: red;" >
                    <div class="card-body">
                      <i class=" my-4 mx-2" style="font-size: 5rem; background:white; color:#5f408f!important;"></i>
                      <h3 class="tituloTarjetas">Restaurantes</h3>
                      <div style="font-weight: 200; font-size: 0.8rem; color:white;" >12 Comercios</div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
