.tituloTarjetas{
    font-weight: 800;
    font-size: 1.4rem;
    color:white;
}


@media (max-width: 800px ) {
    .tituloTarjetas{
    font-weight: 600; 
    font-size: 1.2rem;
    color:green;
    }
}

