<div class="encabezado">
    <img src="../../../assets/img/aladin.jpg" style="width: 140px;">
    <div>
        <img src="../../../assets/img/aladinLetrasLogo.png" class="img">
        <h1 >ORDENES</h1><br>
        
    </div>
    <img src="../../../assets/img/aladin.jpg" style="width: 140px;">
</div>
<div class="encabezado">
    <a href="#" class="active" (click)="abrirOrdenesDisponibles('inicio')">Disponible</a><br>
    <a href="#" (click)="abrirOrdenesnoDisponibles('ordenesnoDisponibles')">Tomadas/No entregadas</a><br>
    <a href="#" (click)="ordenesEntregadass('ordenesEntregadas')">Entregadas</a><br>
    <a href="">atras</a><br>
</div>









