<div class="container-fluid" style="background-color:white">
    <div class="row">
       <div class="col-2">
           <!-- borde -->
       </div> 
      <div class="col-4">
        <img src="../../../assets/img/aladin.jpg" >
    </div>
      <div class="col-4">
        <div class="tipoLetra mt-3">
          <h1>Tu Comodidad</h1><br>
          <h1>Es Nuestra</h1><br>
          <h1>Necesidad</h1>
          <div class="botonRegistrarse mt-5">
            <button class="btn btn-primary">Registrate</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>