.containerPrincipal{
    display: flex;
	flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.error{
    margin:5px;
    margin-top:0px;
    font-size: .5rem;
    color:red;
}
.input-error{
    border-color:red;
}

.form-control {
    border: 3px solid #3535FE;
}
  
