<div class="containerPrincipal">
    <img src="../../../assets/img/aladin.jpg" style="width: 250px;">
    <div >
        <form [formGroup]="formularioLogin" >
            <input class="form-control" formControlName="nombre" type="text" placeholder="Nombre" required><br>
            
            <input class="form-control"  formControlName="apellido" type="text" placeholder="Apellido"><br>
            <input class="form-control" formControlName="email" type="email" placeholder="Email"><br>
            
            <button class="form-control mb-3" (click)= "verOrdenes('ordenes')">iniciar cesion</button>
            <button class="form-control mb-3"> registrarse</button>
        </form>
    </div>
</div>
