<div class="containerPrincipal">
    <img src="../../../assets/img/aladin.jpg" style="width: 250px;">
    <div >
        <form [formGroup]="formularioLogin" >
            
            <input [(ngModel)]="usuario" class="form-control" formControlName="email" type="email" placeholder="Email"><br>
            <input [(ngModel)]="contrasena" class="form-control"  formControlName="apellido" type="password" placeholder="Contrasena"><br>
            <button class="form-control mb-3" (click)= "logiarse()">iniciar cesion</button>
            <button class="form-control mb-3"> registrarse</button>
        </form>
    </div>
</div>
